In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv(r"D:\PGP DS\ML\PROJECT\classification\train_HR.csv")
test = pd.read_csv(r"D:\PGP DS\ML\PROJECT\classification\test_HR.csv")

In [3]:
test.shape

(23490, 13)

In [4]:
train["education"].fillna(train["education"].mode()[0],inplace = True)
train["previous_year_rating"].fillna(train["previous_year_rating"].mean(),inplace = True)

In [5]:
test["previous_year_rating"].fillna(test["previous_year_rating"].mean(),inplace = True)
test["education"].fillna(test["education"].mode()[0],inplace = True)

In [6]:
x_train = train.iloc[:,1:13]
x_test = test.iloc[:,1:13]
y_train = train.iloc[:,13].values

In [7]:
dataset = pd.concat([x_train,x_test],axis=0)

In [8]:
dataset

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.000000,8,1,0,49
1,Operations,region_22,Bachelor's,m,other,1,30,5.000000,4,0,0,60
2,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.000000,7,0,0,50
3,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.000000,10,0,0,50
4,Technology,region_26,Bachelor's,m,other,1,45,3.000000,2,0,0,73
...,...,...,...,...,...,...,...,...,...,...,...,...
23485,Legal,region_2,Below Secondary,m,sourcing,1,24,3.000000,1,0,0,61
23486,Technology,region_25,Bachelor's,m,sourcing,1,31,3.000000,7,0,0,74
23487,HR,region_16,Bachelor's,f,sourcing,1,26,4.000000,4,0,0,50
23488,Procurement,region_31,Bachelor's,m,sourcing,3,27,3.339146,1,0,0,70
23489,Technology,region_17,Master's & above,m,other,3,40,5.000000,5,1,0,89

In [9]:
dummies = pd.get_dummies(data=dataset, columns=["department","region","education","gender","recruitment_channel"],drop_first = True)

In [10]:
dummies

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,department_Finance,department_HR,department_Legal,...,region_region_5,region_region_6,region_region_7,region_region_8,region_region_9,education_Below Secondary,education_Master's & above,gender_m,recruitment_channel_referred,recruitment_channel_sourcing
0,1,35,5.000000,8,1,0,49,0,0,0,...,0,0,1,0,0,0,1,0,0,1
1,1,30,5.000000,4,0,0,60,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,1,34,3.000000,7,0,0,50,0,0,0,...,0,0,0,0,0,0,0,1,0,1
3,2,39,1.000000,10,0,0,50,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,1,45,3.000000,2,0,0,73,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23485,1,24,3.000000,1,0,0,61,0,0,1,...,0,0,0,0,0,1,0,1,0,1
23486,1,31,3.000000,7,0,0,74,0,0,0,...,0,0,0,0,0,0,0,1,0,1
23487,1,26,4.000000,4,0,0,50,0,1,0,...,0,0,0,0,0,0,0,0,0,1
23488,3,27,3.339146,1,0,0,70,0,0,0,...,0,0,0,0,0,0,0,1,0,1
23489,3,40,5.000000,5,1,0,89,0,0,0,...,0,0,0,0,0,0,1,1,0,0

In [11]:
dummies.info(object)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78298 entries, 0 to 23489
Data columns (total 53 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   no_of_trainings               78298 non-null  int64
 1   age                           78298 non-null  int64
 2   previous_year_rating          78298 non-null  float64
 3   length_of_service             78298 non-null  int64
 4   KPIs_met >80%                 78298 non-null  int64
 5   awards_won?                   78298 non-null  int64
 6   avg_training_score            78298 non-null  int64
 7   department_Finance            78298 non-null  uint8
 8   department_HR                 78298 non-null  uint8
 9   department_Legal              78298 non-null  uint8
 10  department_Operations         78298 non-null  uint8
 11  department_Procurement        78298 non-null  uint8
 12  department_R&D                78298 non-null  uint8
 13  department_Sales & Marketing  78298 non-null  uint8
 14  department_Technology         78298 non-null  uint8
 15  region_region_10              78298 non-null  uint8
 16  region_region_11              78298 non-null  uint8
 17  region_region_12              78298 non-null  uint8
 18  region_region_13              78298 non-null  uint8
 19  region_region_14              78298 non-null  uint8
 20  region_region_15              78298 non-null  uint8
 21  region_region_16              78298 non-null  uint8
 22  region_region_17              78298 non-null  uint8
 23  region_region_18              78298 non-null  uint8
 24  region_region_19              78298 non-null  uint8
 25  region_region_2               78298 non-null  uint8
 26  region_region_20              78298 non-null  uint8
 27  region_region_21              78298 non-null  uint8
 28  region_region_22              78298 non-null  uint8
 29  region_region_23              78298 non-null  uint8
 30  region_region_24              78298 non-null  uint8
 31  region_region_25              78298 non-null  uint8
 32  region_region_26              78298 non-null  uint8
 33  region_region_27              78298 non-null  uint8
 34  region_region_28              78298 non-null  uint8
 35  region_region_29              78298 non-null  uint8
 36  region_region_3               78298 non-null  uint8
 37  region_region_30              78298 non-null  uint8
 38  region_region_31              78298 non-null  uint8
 39  region_region_32              78298 non-null  uint8
 40  region_region_33              78298 non-null  uint8
 41  region_region_34              78298 non-null  uint8
 42  region_region_4               78298 non-null  uint8
 43  region_region_5               78298 non-null  uint8
 44  region_region_6               78298 non-null  uint8
 45  region_region_7               78298 non-null  uint8
 46  region_region_8               78298 non-null  uint8
 47  region_region_9               78298 non-null  uint8
 48  education_Below Secondary     78298 non-null  uint8
 49  education_Master's & above    78298 non-null  uint8
 50  gender_m                      78298 non-null  uint8
 51  recruitment_channel_referred  78298 non-null  uint8
 52  recruitment_channel_sourcing  78298 non-null  uint8
dtypes: float64(1), int64(6), uint8(46)
memory usage: 8.2 MB

In [12]:
dummies["intercept"] = 1

In [13]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [14]:
vif=pd.DataFrame()
vif['variables']=dummies.columns

In [15]:
vif['vif']=[variance_inflation_factor(dummies.values,i) for i in range(dummies.shape[1])]

In [16]:
vif

                       variables         vif
0                no_of_trainings    1.057141
1                            age    2.149003
2           previous_year_rating    1.168758
3              length_of_service    1.765616
4                  KPIs_met >80%    1.164901
5                    awards_won?    1.046574
6             avg_training_score    8.697965
7             department_Finance    2.704448
8                  department_HR    3.924783
9               department_Legal    1.748694
10         department_Operations    7.365222
11        department_Procurement    3.357345
12                department_R&D    1.181136
13  department_Sales & Marketing   15.176793
14         department_Technology    2.308560
15              region_region_10    2.067504
16              region_region_11    3.173888
17              region_region_12    1.839882
18              region_region_13    5.284779
19              region_region_14    2.370251
20              region_region_15    5.446539
21              region_region_16    3.367043
22              region_region_17    2.372302
23              region_region_18    1.060796
24              region_region_19    2.511741
25               region_region_2   17.429451
26              region_region_20    2.364801
27              region_region_21    1.692083
28              region_region_22   10.599779
29              region_region_23    2.946835
30              region_region_24    1.853470
31              region_region_25    2.332340
32              region_region_26    4.719366
33              region_region_27    3.719381
34              region_region_28    3.183762
35              region_region_29    2.637862
36               region_region_3    1.574578
37              region_region_30    2.086794
38              region_region_31    4.162845
39              region_region_32    2.612660
40              region_region_33    1.474481
41              region_region_34    1.527082
42               region_region_4    3.831667
43               region_region_5    2.296751
44               region_region_6    2.157572
45               region_region_7    8.362754
46               region_region_8    2.081333
47               region_region_9    1.699826
48     education_Below Secondary    1.085987
49    education_Master's & above    1.231306
50                      gender_m    1.125917
51  recruitment_channel_referred    1.064094
52  recruitment_channel_sourcing    1.017089
53                     intercept  492.217535

In [17]:
dummies.drop(columns = ['avg_training_score',"department_Operations",'department_Procurement','department_Sales & Marketing',"region_region_11",
        'region_region_13','region_region_15','region_region_16','region_region_2','region_region_22','region_region_23',
        'region_region_26','region_region_27','region_region_28','region_region_31','region_region_4','region_region_7','intercept'],inplace = True)

In [18]:
dummies.drop(columns = ['age','gender_m','length_of_service','previous_year_rating','no_of_trainings'],inplace = True)

In [19]:
dummies

,KPIs_met >80%,awards_won?,department_Finance,department_HR,department_Legal,department_R&D,department_Technology,region_region_10,region_region_12,region_region_14,...,region_region_33,region_region_34,region_region_5,region_region_6,region_region_8,region_region_9,education_Below Secondary,education_Master's & above,recruitment_channel_referred,recruitment_channel_sourcing
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23485,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
23486,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
23487,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
23488,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
23489,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [20]:
ds_train=dummies.iloc[:54808,:]
ds_test=dummies.iloc[:23490,:]

## standard scalar

In [21]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [22]:
x_train=sc.fit_transform(ds_train)
x_test=sc.transform(ds_test)

## Hypertuning

In [23]:
from sklearn.model_selection import GridSearchCV

In [24]:
from sklearn.ensemble import RandomForestClassifier

In [25]:
classifier = RandomForestClassifier(random_state=0)

In [26]:
param_gride={'n_estimators':[10,20,25,30,75,100],
            'criterion':['entropy','gini'],
            'bootstrap':[True, False]}

In [27]:
gr=GridSearchCV(estimator = classifier, param_grid= param_gride, cv=5, n_jobs=-1)

In [28]:
gr.fit(x_train,y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(random_state=0), n_jobs=-1,
             param_grid={'bootstrap': [True, False],
                         'criterion': ['entropy', 'gini'],
                         'n_estimators': [10, 20, 25, 30, 75, 100]})

In [29]:
gr.best_params_

{'bootstrap': False, 'criterion': 'entropy', 'n_estimators': 20}

In [30]:
gr.best_score_

0.9151401160382846

## random forest

In [31]:
from sklearn.ensemble import RandomForestClassifier

In [32]:
classifier = RandomForestClassifier(random_state=0)

In [33]:
classifier=RandomForestClassifier(n_estimators=20,criterion='entropy',bootstrap = False,random_state=0)

In [34]:
classifier.fit(x_train,y_train)

RandomForestClassifier(bootstrap=False, criterion='entropy', n_estimators=20,
                       random_state=0)

In [35]:
y_pred=classifier.predict(x_test)

In [36]:
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)